<h1>
  {{
    (heroe.id) ? "Editar": "Nuevo"
  }}
  <small>{{heroe.superhero}}</small>
</h1>

<div class="agregar-contenedor">
  <div class="column">
    <mat-form-field class="column-form">
      <mat-label>Super heroe</mat-label>
      <input matInput
      type="text"
      [(ngModel)] ="heroe.superhero"
      required>
    </mat-form-field>
    <mat-form-field class="column-form">
      <mat-label>Alter ego</mat-label>
      <input matInput
      type="text"
      [(ngModel)] ="heroe.alter_ego"
      required>
    </mat-form-field>
    <mat-form-field class="column-form">
      <mat-label>Primera aparicion</mat-label>
      <input matInput
      type="text"
      [(ngModel)] ="heroe.first_appearance"
      required>
    </mat-form-field>
    <mat-form-field class="column-form">
      <mat-label>Personajes</mat-label>
      <input matInput
      type="text"
      [(ngModel)] ="heroe.characters"
      required>
    </mat-form-field>
    <mat-form-field class="column-form">
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)] ="heroe.publisher"
                  required>
        <mat-option *ngFor="let publisher of publishers"
        [value]="publisher.id">
        {{publisher.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="column-form">
      <mat-label>Foto Url</mat-label>
      <input matInput
      type="url"
      [(ngModel)] ="heroe.alt_img"
      required>
    </mat-form-field>
    <br>
    <div class="buttons-container">
      <button mat-raised-button color="primary"
              (click)="guardar()">
        <mat-icon>edit</mat-icon>
        (heroe.id) ? "Actualizar": "Crear"
      </button>
      <span class="spacer"></span>
      <button mat-raised-button
              color="warn"
              *ngIf="heroe.id"
              (click) = "borrarHeroe()">
        <mat-icon>remove</mat-icon>
        Borrar
      </button>
    </div>
  </div>
  <div class="column">
    <img [src]="heroe | imagen">
  </div>

</div>
